name: Cypress Tests

on: 
  push:
  workflow_dispatch:

jobs:
  cypress-run:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        browser: [chrome, firefox, edge]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm ci

      - name: Run Cypress on ${{ matrix.browser }}
        uses: cypress-io/github-action@v6
        with:
          command: npx cypress run --browser ${{ matrix.browser }} --reporter-options '{\"reportDir\":\"cypress/reports/${{ matrix.browser }}\"}'

      - name: Merge Mochawesome Reports
        run: |
          npx mochawesome-merge cypress/reports/${{ matrix.browser }}/*.json > cypress/reports/${{ matrix.browser }}/merged.json

      - name: Generate HTML report
        run: |
          npx marge cypress/reports/${{ matrix.browser }}/merged.json --reportDir cypress/reports/${{ matrix.browser }} -f "report.html"

      - name: Upload HTML reports
        uses: actions/upload-artifact@v4
        with:
          name: Cypress HTML Reports - ${{ matrix.browser }}
          path: cypress/reports/${{ matrix.browser }}
